<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="AdminPassword" value="toto"/>
  </appSettings>

  <connectionStrings>
      <add name="LSMEmprunts" connectionString="Host=localhost;Username=postgres;Password=root;Database=lsm;Keepalive=60"/>
  </connectionStrings>
</configuration>